<div class="w3-main" id="email">
    <div class="w3-light-grey">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px" style="padding-right:100px">
            <h5><b><i class="fa fa-dashboard"></i> Emails</b></h5>
        </header>

        <div class="w3-row-padding w3-margin-bottom">

            <!--<div class="w3-threequarter">-->

            <div class="w3-quarter">
                <div class="w3-container w3-padding-16">

                    <div class="w3-clear"></div>
                    <div>
                        <label>Select date:</label>
                    </div>
                    <div>
                        <input id="cal" type="date" name="bday">
                    </div>

                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-padding-16">
                    <div class="w3-clear"></div>
                    <div><br></div>
                    <div>
                        <button type="button" class="w3-button w3-grey w3-round w3-border">Submit</button>
                    </div>
                </div>
            </div>

            <!--</div>-->
            <!--<div class="w3-quarter"></div>-->
        </div>

        <!-- End page content -->
    </div>
</div>