<script src="/views/js/DatePicker.js"></script>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <div class="w3-light-grey">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px" style="padding-right:100px">
            <h5><b><i class="fa fa-dashboard"></i> Students Attendance</b></h5>
        </header>



        <div class="w3-row-padding w3-margin-bottom">

            <!--<div class="w3-threequarter">-->

            <div class="w3-halfquarter">
                <div class="w3-container w3-padding-16">
                    <div class="w3-clear"></div>
                    <label>Class:</label>
                        <div class="styled">
                            <select id="selectclass" onchange="loadCourseSection({{currentUser.userId}})">
                                <option selected>Select Class</option>
                                {{#classes}}
                                    <option value="{{CourseCode}}"><a href="javascript:void(0);" >{{CourseName}}-{{CourseCode}}</a></option>
                                {{/classes}}
                            </select>
                        </div>
                </div>
            </div>

            <div class="w3-halfquarter">
                <div class="w3-container w3-padding-16">
                    <div class="w3-clear"></div>
                    <label>Section:</label>
                    <div class="styled">
                        <select id="sectionList" onchange="loadClassDates()"></select>
                    </div>
                </div>
            </div>

            <div class="w3-quarter">
                <div class="w3-container w3-padding-16">
                    <div class="w3-clear"></div>
                    <label>Lecture Date:</label>
                    <div><input id="datepicker" type="text" name="bday"></div>
                </div>
            </div>

            <div class="w3-quarter">
                <div class="w3-container w3-padding-16">
                    <div class="w3-clear"></div>
                    <label></label>
                    <div>
                        <button type="button" onclick="DisplayAttendance()" class="w3-button w3-grey w3-round w3-border">Search</button>
                        <button type="button" onclick="ApproveAttendance()" class="w3-button w3-grey w3-round w3-border" style="margin-top: 10px">Approve</button>
                    </div>
                </div>
            </div>


            <div id="attendanceTable"></div>





        </div>

        <!-- End page content -->
    </div>
</div>

<script src="views/js/StudentAttendance.js"></script>
