html, body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif

}
body{
    height: 100%;
}
#cal {
    color: black
}

.banner {
    width: 100%;
    display: block;
    padding-top: 35px;
}

img {
    width: 100%;
    display: block;
}

.bar {
    width: 100%;
    display: block;
}

nav {
    margin-top: 5px;
}



#ClassList {
    width: 70%;
}


.styled select {
    background: steelblue;
    width: 350px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
}

.styled{
    width: 450px;
    height: 34px;
    color: white;
    border-radius: 3px;
    overflow: hidden;
}

table, td, th {
    border: 1px solid black;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

th {
    background-color: darkgray;
    color: white;
}

tr:hover {
    background-color: whitesmoke;
}

.yellow{
    background-color : yellow !important;
    background-image :none !important;
    color: #ffffff !important;
}

.green{
    background-color : green !important;
    background-image :none !important;
    color: #ffffff !important;
}

.profile{
    width: 50px;
    height: 60px;
}

